<div class="row">
  <div class="col-md-3">
    <h4 class="text-center">{{routeService.totalStarCount}} Stars</h4>
  </div>
  <div class="col-md-6">
    <app-timer></app-timer>
  </div>
  <div class="col-md-3">
    <h4 class="text-center">{{routeService.currentStage + 1}} / {{routeService.stages.length - 2}} (v0.1.0)</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <app-route-preview></app-route-preview>
  </div>
  <div class="col-md-10">
    <app-stage-info></app-stage-info>
  </div>
</div>
